
@{
    ViewBag.Title = "AboutUs";
}

<link href="~/Content/AboutUs/XemThem.css" rel="stylesheet" />


<div style="text-align: center;padding-top:10px">
    <div> <p style="font-size:50px;color:orange;font-weight:700">QUỐC VƯƠNG</p> </div>
    <div> <p style="font-size: 30px; font-weight: 900">"Chất lượng là danh dự"</p> </div>
</div>



<div>
    <p style="font-size:20px;font-weight:600">
        Tập đoàn Quốc Vương – FUTA Group được thành lập năm 2001. Với hoạt động kinh doanh chính trong lĩnh vực mua bán xe ô tô, vận tải hành khách, bất động sản và kinh doanh dịch vụ.
        Quốc Vương dần trở thành cái tên quen thuộc đồng hành cùng người Việt trên mọi lĩnh vực.
    </p>
</div>
<div>
    <p style="font-size:20px;font-weight:600">
        Trải qua hơn 20 năm hình thành và phát triển đặt khách hàng là trọng tâm, chúng tôi tự hào trở thành doanh nghiệp vận tải nòng cốt đóng góp tích cực vào sự phát triển chung của ngành vận tải nói riêng và nền kinh tế đất nước nói chung.
        Luôn cải tiến mang đến chất lượng dịch vụ tối ưu nhất dành cho khách hàng, Công ty Quốc Vương được ghi nhận qua nhiều giải thưởng danh giá như “Thương hiệu số 1 Việt Nam, “Top 10 Thương hiệu nổi tiếng Việt Nam”, “Top 10 Dịch vụ hoàn hảo vì quyền lợi người tiêu dùng năm 2022”, “Top 10 Doanh nghiệp tiêu biểu Việt Nam”, “Top 10 thương hiệu, sản phẩm dịch vụ uy tín Việt Nam – ASEAN 2022” …
    </p>
</div>



<div class="TinTuc">
    <div class="container">
        <!-- <div class="visible-content">
            <p>This is the visible content.</p>
        </div> -->
        <div class="hidden-content">
            <h2 style="text-align: justify;"><strong><span style="color: #282828;">Nhu cầu sử dụng áo bóng đá tại Việt Nam&nbsp;</span></strong></h2>
            <div id="attachment_3522" style="width: 710px" class="wp-caption aligncenter">
                <img decoding="async" aria-describedby="caption-attachment-3522" class="wp-image-3522 size-full" src="https://aobongda.vn/wp-content/uploads/2024/01/nhu-cau-ve-ao-bong-da-hien-nay-1.jpg" alt="Thị trường quần áo đấu sôi nổi tại Việt Nam" width="700" height="400">
                <p id="caption-attachment-3522" class="wp-caption-text">Thị trường quần áo đá bóng sôi nổi tại Việt Nam</p>

            </div>
            <p style="text-align: justify;">
                <span style="color: #282828;">Đất nước Việt Nam luôn khiến bạn bè quốc tế phải kinh ngạc về tinh thần đam mê bóng đá cuồng nhiệt của người dân Việt. Từ trẻ nhỏ, thanh niên đến người già, không phân biệt giới tính đều có chung một tình yêu mãnh liệt với bộ môn thể thao này. Hơn thế nữa, ngoài những giải đấu bóng đá CLB hay thế giới thì ngày nay càng có nhiều doanh nghiệp, công ty cũng tổ chức phong trào thể thao thi đấu bóng đá nội bộ. Chính vì vậy, thị trường áo đá banh tại Việt Nam luôn vô cùng sôi nổi và chưa từng hạ nhiệt, đặc biệt là vào những mùa giải lớn World Cup, Euro hay AFC Asian Cup,… Sự đa dạng và phong phú của sản phẩm đồ bóng đá Việt Nam từ các CLB đến đội tuyển quốc gia luôn là điểm thu hút không thể phủ nhận.</span>
            </p>
            <h2 style="text-align: justify;"><strong><span style="color: #282828;">Tổng Hợp Các Công Nghệ Trên Áo Bóng Đá Được Áp Dụng&nbsp;</span></strong></h2>
            <div id="attachment_3522" style="width: 710px" class="wp-caption aligncenter">
                <img decoding="async" aria-describedby="caption-attachment-3522" class="wp-image-3522 size-full" src="https://aobongda.vn/wp-content/uploads/2024/06/cong-nghe-tren-ao-bong-da.jpg" width="700" height="400">
            </div>
            <p style="text-align: justify;">
                <span style="color: #282828;">Công nghệ làm mát và tăng độ thoáng đang được coi là một trong những công nghệ quan trọng nhất trong việc phát triển các bộ trang phục thi đấu bóng đá. Trong một môn thể thao đòi hỏi sự hoạt động cường độ cao và liên tục như bóng đá, việc mặc trang phục phải mang lại cảm giác thoải mái và khô ráo dưới mọi áp lực, giúp cầu thủ tập trung tối đa vào việc thi đấu. Chính vì vậy, việc cải tiến công nghệ làm mát và tăng độ thoáng luôn được các nhà sản xuất trang phục bóng đá đặc biệt chú trọng.</span>
                <br><span style="color: #282828;">Trong các pha tranh chấp trong bóng đá, trang phục thi đấu phải được thiết kế để đạt độ bền cao. Điều này đã thúc đẩy sự phát triển của công nghệ chống rách trong việc sử dụng các loại vải đặc biệt. So với các loại vải truyền thống, các loại vải tích hợp công nghệ chống rách thường nhẹ nhàng hơn, sợi vải linh hoạt và co giãn một cách linh hoạt, đồng thời khó bị rách hơn nhiều. Nhờ công nghệ trên áo bóng đá này mà cầu thủ có thể thoải mái hơn khi di chuyển trong áo bóng đá mà không lo lắng về nguy cơ rách hỏng, so với việc mặc các loại quần áo thông thường. </span>
                <br><span style="color: #282828;">Trong vài năm gần đây, nhận thức về tác động tiêu cực của tia UV đã trở nên rõ ràng hơn, khiến cho cả giới thể thao nói chung và bóng đá nói riêng bắt đầu quan tâm đến khả năng chống nắng của trang phục. Đặc biệt, bóng đá là một môn thể thao ngoài trời, vì vậy các trang phục thi đấu bóng đá ngày nay thường được tích hợp công nghệ chống tia UV để giảm thiểu tiếp xúc với tác động có hại của tia UV, từ đó bảo vệ các cầu thủ khỏi các vấn đề về da như mụn, cháy nắng, và các tác động khác. </span>
            </p>
        </div>
        <button id="seeMoreBtn" class="btnXemThem">Tin Tức</button>
    </div>
</div>
<script src="~/Content/AboutUs/XemThem.js"></script>



@*-------------------START Tầm nhìn và sứ mệnh-------------------*@
<div class="row" style="padding-top:30px">
    <div class="col-md-6"><img src="~/img/AboutUs1.png" style="width:700px" /></div>
    <div class="col-md-6">
        <div><p style="font-size:42px;color:orange;font-weight:700">TẦM NHÌN VÀ SỨ MỆNH</p></div>
        <div>
            <p style="color:orange;font-size:20px;font-weight:600">BÁO ĐÁP TỔ QUỐC VÌ MỘT VIỆT NAM HÙNG CƯỜNG.</p>
        </div>
        <div>
            <p style="font-size: 20px; font-weight: 600">Trở thành Tập Đoàn uy tín và chất lượng hàng đầu Việt Nam với cam kết:</p>
            <ul>
                <li><p style="column-count: 1; font-size: 20px; font-weight: 600">Tạo môi trường làm việc năng động, thân thiện.</p></li>
                <li><p style="column-count: 1; font-size: 20px; font-weight: 600">Phát triển từ lòng tin của khách hàng.</p></li>
                <li><p style="column-count: 1; font-size: 20px; font-weight: 600">Trở thành tập đoàn dẫn đầu chuyên nghiệp.</p></li>
            </ul>
        </div>
        <div>
            <p style="column-count: 1; font-size: 20px; font-weight: 600"><strong><span style="color: rgb(230, 77, 77); font-size: 20px; font-weight: 600">Quốc Vương </span></strong>luôn phấn đấu làm việc hiệu quả nhất, để luôn cống hiến, đóng góp hết sức mình vì một Việt Nam hùng cường.</p>
        </div>
    </div>
</div>
@*-------------------END Tầm nhìn và sứ mệnh-------------------*@


@*-------------------START Gía trị cốt lõi-------------------*@
<div class="row" style="padding-top:30px;padding-bottom:30px">
    <div class="col-md-6">
        <div><p style="font-size:42px;color:orange;font-weight:700">TRIẾT LÝ</p></div>
        <div>
            <p style="font-size:20px;font-weight:600">
                Hội nhập và phát triển góp phần vào sự thịnh vượng của đất nước.
                Nguồn nhân lực chính là nhân tố then chốt, là tài sản lớn nhất của Công ty Quốc Vương, chú trọng tạo ra môi trường làm việc hiện đại, năng động, thân thiện và trao cơ hội phát triển nghề nghiệp cho tất cả thành viên.
                Sự hài lòng của khách hàng là minh chứng cho chất lượng dịch vụ của Quốc Vương.
                Không ngừng hoàn thiện và phát triển năng lực kinh doanh, Quốc Vương thấu hiểu nhu cầu khách hàng, mang đến sản phẩm dịch vụ hoàn hảo, đáp ứng tối đa mong đợi của khách hàng.
            </p>
        </div>
    </div>
    <div class="col-md-6"><img src="~/img/AboutUs3.png" style="width:700px;border-radius:20px" /></div>
</div>
@*-------------------END Gía trị cốt lõi-------------------*@






@*<p><img alt="ky-niem-thanh-lap-long-van-limousine" src="https://longvanlimousine.vn/wp-content/uploads/elementor/thumbs/ky-niem-thanh-lap-long-van-limousine-qs0b1gb7xf7trqyoshylsvccdh4y5gbtay4ebfqlcg.jpg" title="ky-niem-thanh-lap-long-van-limousine" /></p>

    <p><img alt="" src="https://longvanlimousine.vn/wp-content/uploads/2020/07/cropped-image_28-150x150.png" style="height:150px; width:150px" /></p>

    <h2>Long Vân Limousine</h2>

    <p>Long Vân Limousine là một trong những Tập Đoàn Vận Tải có chất lượng dịch vụ tốt nhất Tây Nguyên và xếp thứ hạng cao ở Việt Nam. Với mong muốn mang đến cho khách hàng những chuyến đi trọn vẹn, Long Vân không ngừng cải thiện và nâng cao chất lượng dịch vụ một cách tốt nhất.</p>

    <p>&nbsp;</p>

    <ul>
        <li>Hệ thống giường nằm cao cấp, rộng rãi, êm ái</li>
        <li>Trang thiết bị hiện đại: ghế massage, tivi, wifi,..</li>
        <li>Hệ thống đèn giúp bảo vệ mắt và giảm stress</li>
        <li>Hệ thống phòng chờ cao cấp</li>
        <li>Bác tài dày dặn kinh nghiệm, nhiệt tình, vui vẻ</li>
        <li>Đội ngũ CSKH thân thiện sẵn sàng giải đáp thắc mắc.</li>
    </ul>

    <p><img alt="" src="https://longvanlimousine.vn/wp-content/uploads/2020/07/cropped-image_28-150x150.png" style="height:150px; width:150px" /></p>

    <h2>Tại sao chọn chúng tôi?</h2>

    <p>Long Vân Limousine mong muốn đem đến cho quý khách hàng những chuyến xe an toàn, chất lượng nhất. Vì vậy chúng tôi không ngừng nâng cấp dịch vụ tiện ích. Đến với Long Vân Limousine mỗi chuyến xe là một trải nghiệm tuyệt vời.</p>

    <p><a href="https://longvanlimousine.vn/ve-chung-toi#">ĐẶT VÉ NGAY</a></p>

    <ul>
        <li>ĐẶT VÉ DỄ DÀNG</li>
    </ul>

    <h2>Thao tác đơn giản, đặt vé nhanh chóng chỉ chưa đầy 30 giây</h2>

    <ul>
        <li>DỊCH VỤ ĐA DẠNG</li>
    </ul>

    <h2>Dịch vụ đa dạng từ vận chuyển hành khách đến hàng hóa</h2>

    <ul>
        <li>PHỤC VỤ CHU ĐÁO</li>
    </ul>

    <h2>Tư vấn nhiệt tình, phục vụ tận tâm, dịch vụ chuyên nghiệp</h2>

    <ul>
        <li>ƯU ĐÃI NGẬP TRÀN</li>
    </ul>

    <h2>Định kỳ triển khai các chương trình khuyến mãi, đặc biệt là khách hàng thân thiết</h2>*@
