
@{
    ViewBag.Title = "Index";
}

<textarea class="form-control" id="dienvb">

</textarea>


<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>


@section scripts{
    <script>
        CKEDITOR.replace('dienvb')
    </script>
    }


